html, body{
  padding: 0;
  margin: 0;
  background: #cce7e8;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  background: #c9c5b7;
  z-index: 20;
}

#logo {
  float: left;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#wrapper {
  display: flex;
  justify-content: center;
  background: #cce7e8;
  position: absolute;
  height: 100%;
  width: 65%;
}

.panels {
  width: 65%;
  height: 100%;
  position: relative;
  z-index: 10;
}

#title_picture {
  background-image: url("images/main_background.png");
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 600px;
  top: 40px;
  z-index: 0;
}


#text_page {
  margin-top: 590px;
  border-radius: 2%;
  background-color: #fbfbfb;
  width: 100%
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f7f2f0;
  z-index: 20;
}

.rotate90 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
