html, body{
  padding: 0;
  margin: 0;
  background: #cce7e8;
}

#header {
  position: fixed;
  overflow:visible;
  top: 0;
  width: 100%;
  padding: 20px;
  background: #c9c5b7;
  z-index: 20;
}

#logo {
  position: fixed;
  margin-left: 1%;
  margin-top: 1%;
  z-index: 30;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#wrapper {
  display: flex;
  justify-content: center;
  background: #cce7e8;
  position: absolute;
  height: 100%;
  width: 65%;
}

.panels {
  width: 65%;
  height: 100%;
  position: relative;
  z-index: 10;
}

#title_picture {
  background-image: url("images/main_background.png");
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  position: fixed;
  height: 600px;
  top: 40px;
  z-index: 0;
}


#text_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: 590px;
  border-radius: 1%;
  background-color: #fbfbfb;
  width: 100%
}

#citation_container {
  display: flex;
  align-items: center;
  justify-content:center;
  margin: 60px;
  background-color: #e89696;
  border-radius: 10px;
  width: 70%;
  height: 400px;
}

#grid_container {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2.5em;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 2em;
  vertical-align: bottom;
  font-family: "Baloo Bhai", helvetica, serif;
  color: #4c4c4c;
  background-color: #f5efe9;
  border : 0.3em #4c4c4c solid;
  width : 95%;
  height: 95%;
  border-radius : 20px 20px;
  cursor: default;
  outline: none;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(1);
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f7f2f0;
  z-index: 20;
}
